<html> 
    <head>
        <title>Canvas Helper</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    </head>
    <body>
        <h1 class="header">Welcome to Canvas Helper</h1>
        {% if assignments|length > 0 %}
        <div style="background-color: #F8F7F9;">
            <form method="post">
                <label style="background-color: #669BBC; text-align:center;" class="sideBySide">Your Current Assignments</label>
                <input style="float:right;" class="smallButton sideBySide" type="submit" value="Refresh Data">
            </form>
        
                {% block content %}
                <table class="center">
                    {% for class in assignments %}
                        <tr>
                            <th>{{ class }}</th>
                            {% for assignment in assignments[class]%}
                                <td>
                                    <h3 style="font-weight:400">{{ assignment.name }}</h3>
                                    <i>Due {{ assignment.end }}</i>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                {% endblock %}
        </div>
        {% else %}
        <center>
            <div style="background-color: #FF785A; ">
            <form method="post">
                <h1 style="color: #2B2D42; text-align:center; font-size: 50px;" class="center">No Current Assignments!</h1>
                <br>
                <input style="background-color: #669BBC; margin-bottom: 50px;" class="bigButton" type="submit" value="Refresh Data">
            </form>
            </div>
            </center>
        {% endif %}
        <!-- <button onclick="">Enable Notifications</button> -->
    </body>
</html>