<html>
<head>
    <title>Canvas Helper Setup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <script src="{{ url_for('static',filename='scripts/input.js') }}"></script>
</head>
<body>
    <h1 class="header">Canvas Helper Setup</h1>
    <br>
    <center>
        <form action="/submitAPI" method="POST">
            <label>Enter the URL you use to access Canvas (i.e https://coolSchool.instructure.com/)</label>
            <br>
            <input pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)" placeholder="Enter a URL" type="text" id="url" class="bigInput" name="url" required>
            <br>
            <br>
            <label>Enter your Canvas API Key</label>
            <a target="_blank" href="" id="helperURL"></a>
            <label class="small-label" id="helper"><i>Enter your url first for help!</i></label>
            <br>
            <input placeholder="Enter your API Key" type="password" id="apiKey" class="bigInput" name="apiKey" required>
            <br>
            <br>
            <input type="submit" class="bigButton" value="Submit">
        </form>
    </center>
    </body>

</html>